<form name="form1" method="POST" action="/fibseqs">
    
      <div class="form-group">
        <label for="inputNth">How many digits?</label>
        <input type="number" id="inputNth" name="inputNth" class="form-control mx-sm-3" aria-describedby="nthHelpInline">
        <small id="nthHelpInline" class="text-muted">
          Must be a Whole Number, between 1-100.
        </small>
      </div>
      <button type="submit" class="btn btn-primary">GO!!!</button>
    </form>   